@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WooDesign.Models.UyeAdresleri>



@{
    ViewBag.Title = "UyeAdresleriListesi";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<div class="alert alert-dark" role="alert">
    <strong> ÜYE ADRES LİSTESİ</strong>
</div>



<p class="container-fluid" style="width:95%">
    @Html.ActionLink("Yeni Adres Ekle", "UyeAdresEkle", null, new { @class = "btn btn-success" })
</p>
<table class="table-hover container" style="width:95%">
    <tr>
        <th>
            Üye Adı-Soyadı
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Adres)*@
            Adres
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Uyeler.NickName)*@
            Kullanıcı Adı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Uyeler.UyeAdi)*@
                @item.Uyeler.UyeAdi @item.Uyeler.UyeSoyadi
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uyeler.NickName)
                
            </td>
            <td>
                @Html.ActionLink("Güncelle", "UyeAdresGuncelle", new { gncId = item.UyeAdresleriID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "UyeAdresDetay", new { detayId = item.UyeAdresleriID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("sil", "uyeadresSil", new { silId = item.UyeAdresleriID }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, numara => Url.Action("UyeAdresleriListesi", "UyeAdresleri", new { sayfaNo = numara }))
