@using PagedList.Mvc;
@using PagedList;
@model IPagedList<WooDesign.Models.Yetkiler>

@{
    ViewBag.Title = "YetkilerListesi";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}


<div class="alert alert-dark" role="alert">
    <strong> YETKİLER LİSTESİ</strong>
</div>



<p class="container-fluid" style="width:95%">
    @Html.ActionLink("Yeni Yetki Ekle", "YetkiEkle", null, new { @class = "btn btn-success" })
</p>
<table class="table-hover container-fluid" style="width:95%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.YetkiAdi)*@
            YETKİ
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YetkiAdi)
            </td>
           
            <td>
                @Html.ActionLink("Güncelle", "YetkiGuncelle", new { gncId = item.YetkilerID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "YetkiDetay", new { detayId = item.YetkilerID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "YetkiSil", new { silId = item.YetkilerID }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, numara => Url.Action("YetkilerListesi", "Yetkiler", new { sayfaNo = numara }))
