@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WooDesign.Models.Reklamlar>
@{
    ViewBag.Title = "ReklamListesi";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<div class="alert alert-dark" role="alert">
    <strong> REKLAM LİSTESİ</strong>
</div>



<p class="container-fluid" style="width:95%">
    @Html.ActionLink("Yeni Reklam Ekle", "ReklamEkle", null, new { @class = "btn btn-success" })
</p>
<table class="table-hover container" style="width:95%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ReklamAciklama)*@
            Açıklama
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ReklamBaslangicTarihi)*@
            Başlangıç
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ReklamBitisTarihi)*@
            Bitiş
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Resim1)*@
            Resim1
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Resim2)*@
            Resim2
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Resim3)*@
            Resim3
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReklamAciklama)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ReklamBaslangicTarihi)*@
                @item.ReklamBaslangicTarihi.Value.ToShortDateString()
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ReklamBitisTarihi)*@
                @item.ReklamBitisTarihi.Value.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim3)
            </td>
            <td>
            <td>
                @Html.ActionLink("Güncelle", "ReklamGuncelle", new { gncID = item.ReklamID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "ReklamDetay", new { detayId = item.ReklamID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "reklamSil", new { silId = item.ReklamID }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, numara => Url.Action("ReklamListesi", "Reklam", new { sayfaNo = numara }))

