@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WooDesign.Models.UrunStoklari>

@{
    ViewBag.Title = "UrunStoklariListesi";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<div class="alert alert-dark" role="alert">
    <strong> ÖDEMELER LİSTESİ</strong>
</div>



<p class="container-fluid" style="width:95%">
    @Html.ActionLink("Yeni Stok Ekle", "UrunStokEkle", null, new { @class = "btn btn-success" })
</p>
<table class="table-hover container" style="width:95%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.BaslangicTarih)*@
            Başlangıç
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BitisTarihi)*@
            Bitiş
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.StokMiktari)*@
            Stok Miktarı
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KalanUrun)*@
            Kalan
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Aciklama)*@
            Açıklama
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Urunler.UrunAdi)*@
            Ürün Adı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.BaslangicTarih)*@
                @item.BaslangicTarih.ToShortDateString()
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.BitisTarihi)*@
                @item.BaslangicTarih.ToShortDateString()

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StokMiktari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KalanUrun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urunler.UrunAdi)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "UrunStokGuncelle", new { gncId = item.UrunStoklariID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "UrunStoklariDetay", new { detayId = item.UrunStoklariID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "urunstokSil", new { silId = item.UrunStoklariID }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, numara => Url.Action("UrunStoklariListesi", "UrunStoklari", new { sayfaNo = numara }))