@using PagedList;
@using PagedList.Mvc;
@*@model IPagedList<WooDesign.Models.Urunler>*@
@model WooDesign.Areas.AdminPaneli.Models.UrunPartial



<table class="table-hover container-fluid" style="width:95%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.UrunAdi)*@
            ÜRÜN ADI
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BirimFiyat)*@
            FİYAT
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Kategoriler.KategoriAdi)*@
            KATEGORİ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EklenmeTarihi)*@
            EKLENME TARİHİ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Aciklama)*@
            AÇIKLAMA
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Urun_Listesi)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirimFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoriler.KategoriAdi)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EklenmeTarihi)*@
                @item.EklenmeTarihi.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>

            <td>
                @Html.ActionLink("Güncelle", "UrunGuncelle", new { guncelleId = item.UrunlerID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "UrunDetay", new { detayId = item.UrunlerID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "UrunSil", new { silId = item.UrunlerID }, new { @class = "btn-sm btn-danger" })
                @Html.ActionLink("Resim Ekle", "ResimSayfasi", new { urunId = item.UrunlerID }, new { @class = "btn btn-primary material-icons" })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model.Urun_Listesi, numara => Url.Action("UrunListesi", "Urun", new RouteValueDictionary {
    {"UrunAdi",Model.UrunAdi },
    {"SayfaNumarasi",numara } }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId= "dvurunlistesi" }))

