@model WooDesign.Models.Urunler
@using WooDesign.Areas.AdminPaneli.Models


@{
    ListManage list_mng = new ListManage();
    var liste = list_mng.UrununResimleri(Model.UrunlerID);

}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResimSayfasi</title>
    <link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/Areas/AdminPaneli/LTE/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/AdminPaneli/LTE/dist/js/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <!--*************Ürün Bilgileri-->
        <div class="row">
            <div style="border:dashed double">
                <table class="table ">
                    <tr>
                        <th>
                            <h5>Ürün adı:</h5>@Html.DisplayFor(model => model.UrunAdi)
                        </th>
                        <th>
                            <h5>Kategori</h5>@Html.DisplayFor(Model => Model.Kategoriler.KategoriAdi)
                        </th>
                        <th>
                            <h5>Eklenme Tarihi</h5>@Html.DisplayFor(model => model.EklenmeTarihi)
                        </th>
                    </tr>
                </table>

            </div>
        </div>

        <!--*************Ürünün olan Resimleri-->
        <div class="row">
            <h5>Ürünün Fotoğrafları</h5>
            <div class="text-right">
                @Ajax.ActionLink("YENİLE", "ResimListesi", new { urunId = Model.UrunlerID }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "urunresimalaniId" }, new { @class = "btn btn-primary", id = "resimleriyenileId" })
            </div>

            <div class="container-fluid" style="border:1px double #808080">

                <div id="urunresimalaniId">
                    <!--**********************-->

                </div>

            </div>

        </div>

        <!--*************Ürün Resim Ekleme Alanı-->
        <div class="row ">
            <h5>Resim Ekleme Alanı</h5>

            <div class="container-fluid">

                @using (Ajax.BeginForm("ResimYukle", new { urunId = Model.UrunlerID }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "dropzone", id = "mydropzone", enctype = "multipart/form-data" }))
                {
                }

            </div>

            <div class="text-right">

                @Html.ActionLink("Listeye Dön", "UrunListesi", null, new { @class = "btn btn-warning" })
                <input id="ResimYukleButton" type="submit" href="#" class="btn btn-primary" value="YÜKLE">

            </div>


        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Areas/AdminPaneli/LTE/dist/js/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/dropzone/dropzone.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(function () {
            var yenidz = null;
            $("#mydropzone").dropzone({
                dictDefaultMessage: "Resimleri bu alana sürükleyiniz ya da taşıyınız",
                autoProcessQueue: false,
                addRemoveLinks: true,
                dictRemoveFile: "Resmi Sil",
                uploadMultiple: true,
                parallelUploads: 5,
                maxFiles: 5,
                acceptedFiles: ".jpg,.jpeg,.png",
                paramName: "TiklananResimler",
                init: function () {
                    yenidz = this;
                    $("#ResimYukleButton").click(function () {
                        yenidz.processQueue();
                    })
                },
                success: function (file) {
                    var onizleme = $(file.previewElement);
                    onizleme.addClass("yenidz-success");
                    setTimeout(function () {
                        yenidz.removeFile(file);
                    }, 1000);
                },
                queuecomplete: function () {
                    ResimleriYenilejs();
                }
            });
            ResimleriYenilejs();
        });

        function ResimleriYenilejs() {
            $("#resimleriyenileId").click();
        };
    </script>
</body>
</html>

