@model WooDesign.Models.Urunler

@{
    ViewBag.Title = "UrunDetay";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<h2 class="alert alert-dark" role="alert">Ürün Detay</h2>

<div class="container-fluid" style="width:95%">
    <h4><strong>ÜRÜNLER</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirimFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirimFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategoriler.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoriler.KategoriAdi)
        </dd>

    </dl>
</div>
<div class="btn btn-info container-fluid" style="background-color:antiquewhite;width:15%">
    @Html.ActionLink("Listeye Dön", "UrunListesi")
</div>
