@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WooDesign.Models.Kategoriler>


@{
    ViewBag.Title = "KategoriListesi";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<div class="alert alert-dark" role="alert">
    <strong> KATEGORİ LİSTESİ</strong>
</div>



<p class="container-fluid" style="width:95%">
    @Html.ActionLink("Yeni Kategori Ekle", "kategoriEkle", null, new { @class = "btn btn-success" })
</p>
<table class="table-hover container" style="width:95%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.KategoriParentID)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KategoriAdi)*@
            Kategori Adı
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KategoriAciklama)*@
            Açıklama
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.KategoriParentID)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAciklama)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "KategoriGuncelle", new { gncID = item.KategorilerID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "KategoriDetay", new { detayId = item.KategorilerID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "KategoriSil", new { silId = item.KategorilerID }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, numara => Url.Action("KategoriListesi", "Kategori", new { sayfaNo = numara }))
