@model WooDesign.Models.Kategoriler

@{
    ViewBag.Title = "KategoriDetay";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<h2>Kategori Detay</h2>

<div>
    <h4>Kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriParentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriParentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategoriAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Listeye Dön", "KategoriListesi")
</p>
