@using PagedList;
@using PagedList.Mvc;
@*@model IPagedList<AksesuarSat_V1.Models.Uyeler>*@
@model WooDesign.Areas.AdminPaneli.Models.UyelerPartial

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeSoyadi)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Email)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.UyeOlmaTarihi)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.UyeBitisTarihi)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Uye_Listesi)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UyeAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UyeSoyadi)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UyeOlmaTarihi)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.UyeBitisTarihi)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Durum)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>*@
            <td>
                @Html.ActionLink("Gnc", "UyeGuncelle", new { guncelleId = item.UyelerID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Dty", "UyeDetay", new { detayId = item.UyelerID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "UyeSil", new { silId = item.UyelerID }, new { @class = "btn-sm btn-danger" })

            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model.Uye_Listesi, numara => Url.Action("UyeListesi", "Uyeler", new RouteValueDictionary {
    { "UyeAdi",Model.UyeAdi},//üye adına göre arama yapıldığında sayfalar arasında geçiş yapmayı sağlar
    { "UyeSoyadi",Model.UyeSoyadi},
    {"SayfaNumarasi",numara}//sayfaları tutar, arama esnasında tıklandığında aynı aramada sayfalar  kaybolmadan kalacak şekilde sayfalara arasında tıklanma yapmayı sağlar
}), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "dvuyelistesi" }))
<!--PagedListRenderOptions==> ajax ile sayfalar arsında dolaşmayı sağlar-->
