@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WooDesign.Models.indirimler>


@{
    ViewBag.Title = "indirimListesi";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<div class="alert alert-dark" role="alert">
    <strong> İNDİRİM LİSTESİ</strong>
</div>



<p class="container-fluid" style="width:95%">
    @Html.ActionLink("Yeni İndirim Ekle", "indirimEkle", null, new { @class = "btn btn-success" })
</p>
<table class="table-hover container-fluid" style="width:95%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.indirimTurAdi)*@
            Adı
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.indirimFiyatSekli)*@
            Şekli
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BaslamaTarihi)*@
            Başlangıç
            
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BitisTarihi)*@
            Bitiş
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.indirimMiktari)*@
            Miktar
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Durumu)*@
            Durum
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Aciklama)*@
            Açıklama
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.indirimTurAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indirimFiyatSekli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaslamaTarihi)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.BitisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indirimMiktari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "indirimGunceller", new { gncId = item.indirimlerID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "indirimDetay", new { detayId = item.indirimlerID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "indirimsil", new { silId = item.indirimlerID }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, numara => Url.Action("indirimListesi", "indirimler", new { sayfaNo = numara }))
