@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WooDesign.Models.UrunFiyatlari>

@{
    ViewBag.Title = "UrunFiyatlariListesi";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLayout.cshtml";
}

<div class="alert alert-dark" role="alert">
    <strong> ÜRÜN FİYATLARI LİSTESİ</strong>
</div>



<p class="container-fluid" style="width:95%">
    @Html.ActionLink("Yeni Fiyat Ekle", "UrunFiyatEkle", null, new { @class = "btn btn-success" })
</p>
<table class="table-hover container" style="width:95%">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.UrunAlisFiyati)*@
            Alış Fiyatı
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UrunSatisFiyati)*@
            Satış Fiyatı
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FiyatBaslangicTarihi)*@
            Başlangıç
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FiyatBitisTarihi)*@
            Bitiş
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Aciklama)*@
            Açıklama
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Urunler.UrunAdi)*@
            Ürün Adı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAlisFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunSatisFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiyatBaslangicTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiyatBitisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urunler.UrunAdi)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "UrunFiyatGuncelle", new { gncId = item.UrunFiyatlariID }, new { @class = "btn-sm btn-info" })
                @Html.ActionLink("Detay", "UrunFiyatlariDetay", new { detayId = item.UrunFiyatlariID }, new { @class = "btn-sm btn-warning" })
                @Html.ActionLink("Sil", "urunfiyatSil", new { silId = item.UrunFiyatlariID }, new { @class = "btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, numara => Url.Action("UrunFiyatlariListesi", "UrunFiyatlari", new { sayfaNo = numara }))

